<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link
            href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Raleway:400,200,100,300,500,600,700,800,900Playball|Nunito:400,700,300'
            rel='stylesheet' type='text/css'>
    <base target="_blank">

    <style>

        table{

            margin: 0 auto;
            border:none;
            border-collapse:collapse;
            background: #fff !important;
            padding:20px;
        }
        body{

        }

        thead {
            text-align: left;
            background: #ffff !important;
            margin:0;
        }

        tbody {
            background: #ffff !important;
        }

        tr {
            width: 100%;
            border:none;
            outline:none;
            border-color:#fff;
        }
        td{
            border:none;
            padding:0;
            outline:none;
            border-color:#fff;
            /*   padding-top: 20px;
               padding-left: 20px;*/
        }

        td.image-width {
            width: 15%;
        }

        th.hash {
            padding-left: 31px;
        }

        .bordered-top {
            border-top: 1px solid #f9f3f3;
            font-size: 14px;
        }

        .bordered-bottom {
            border-bottom: 1px solid #f9f3f3;
        }

    </style>

    <style>

    </style>


</head>
<body style='margin: 0 auto; padding: 0;'>




<table style="width: 80%;">

    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><img src="https://s3.amazonaws.com/tdcdocuments/EmailImages/slashclub-logo.png" style="width: 130px;padding-top: 20px;" alt="" border="0"></td>
    </tr>

    <tr>
        <td>
            <h1
                    style="font-size: 12px; line-height: 30px; letter-spacing: -.75px; margin:0; text-align: left;padding-top: 20px;">
                Hello Club Admin
            </h1>
            <p style="font-size:12px;padding-right:10px; text-align: left; font-weight: normal; line-height: 22px">
                below are the details of ur club Order </br>
                <b> Number of Packages :</b> 21 </br>
                <b> Driver Name:</b> Kamoru Nurudeen, </br>
                <b> Delivery Confirmation  Code:</b> 765890
            </p>
            <br>
        </td>
    </tr>


    </tbody>


</table>

<table style="width: 80%;">

    <thead>
    <tr>

        <th> Name</th>
        <th> Qty </th>
    </tr>
    </thead>
    <tbody>


    <tr>
        <td class="bordered-top" style="padding-top: 10px;">salim</td>
        <td class="bordered-top" style="padding-top: 10px;">3 packages</td>
    </tr>

    <tr>
        <td class="bordered-top" style="padding-top: 10px;">Tahir</td>
        <td class="bordered-top" style="padding-top: 10px;">4 packages</td>
    </tr>

    <tr>
        <td class="bordered-top" style="padding-top: 10px;">Lexy</td>
        <td class="bordered-top" style="padding-top: 10px;">7 packages</td>
    </tr>

    <tr>
        <td class="bordered-top" style="padding-top: 10px;">Damo</td>
        <td class="bordered-top" style="padding-top: 10px;">5 packages</td>
    </tr>


    </tbody>


</table>

<table style="width: 80%">

    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p style="padding-top: 30px;font-size: 12px;">Thank you, <br>
                The Slash Club Team.</p>
        </td>
    </tr>

    <tr>
        <td style="color: #ababab;
    font-family: HelveticaNeue-Light,'Helvetica Neue',HelveticaNeue,Helvetica,Arial,sans-serif;
    line-height: 24px;
    font-weight: 400;
    vertical-align: top;
    font-size: 12px;
    text-align: center;">
            <p style="margin-top: 50px;">
                © Copyright 2019 Slash Club - All Rights Reserved
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
